<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>functions</title>
</head>
<body>

{{range .GoodGuys}}
    {{uc .Name}}
    {{ff .Game}}
{{end}}

{{range .BadGuys}}
    {{uc .Name}}
    {{ff .Game}}
{{end}}

</body>
</html>
