<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>functions</title>
</head>
<body>

{{range .GoodGuys}}
    {{.Name}}
    {{.Game}}
    {{.Name | uc | ff}}
    {{.Game | uc | ff}}
{{end}}

{{range .BadGuys}}
    {{.Name}}
    {{.Game}}
    {{.Name | uc | ff}}
    {{.Game | uc | ff}}
{{end}}

</body>
</html>
